<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yg.demoproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".algorithmquestion.BaseQuestionActivity"></activity>
        <activity android:name=".algorithmquestion.AlgorithmQuestionActivity" />
        <activity android:name=".android.AndroidDemoActivity" />
        <activity
            android:name=".android.DispatchActivity"
            android:label="@string/title_activity_dispatch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".java.polymorphism.PolymorphismActivity" />
        <activity android:name=".java.comparator.ComparatorActivity" />
        <activity android:name=".java.runtime.RuntimeActivity" />
        <activity android:name=".java.JavaActivity" />
        <activity
            android:name=".FileRWActivity"
            android:label="@string/title_activity_file_rw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WhiteFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_white_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>